<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="base::navbar(${currUser})">
</div>
<div class="text-center">
<h2> Payment Section</h2>
</div>
<div class="card" style="margin:auto;">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Item No.</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost</th>
                <th scope="col">Total Discount</th>
                <th scope="col">Net Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,status : ${products}">
                <th scope="row" th:text="${status.index + 1}"></th>
                <td th:text="${product.name}"></td>
                <td th:text="${categories.get(status.index).name}"></td>
                <td th:text="${carts.get(status.index).quantity}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.discount + categories.get(status.index).discount} + '%'"></td>
                <td th:text="'Rs. '+ ${finalPrice.get(status.index)}"></td>

            </tr>

            </tbody>
        </table>
    </div>
</div>

<br>
<br>
<br>

<div class="container">
<div class="row">
    <div class="col-8">
<div class="card" style="width: 100%; margin-left: 10px">
    <div class="card-body">
        <h3 class="card-title text-center">Delivery Details</h3>
        <hr>
<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>House Number</label>
            <input type="text" class="form-control" th:value="${currUser.houseno}" required readonly>

        </div>
        <div class="col-md-6 mb-3">
            <label >Pincode</label>
            <input type="text" class="form-control" th:value="${currUser.pincode}" required readonly>

        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label >City</label>
            <input type="text" class="form-control" th:value="${currUser.city}" required readonly>

        </div>

        <div class="col-md-7 mb-3">
            <label>Address</label>
            <textarea name="address" class="form-control" rows="2" th:text="${currUser.address}" required readonly></textarea>

        </div>
    </div>

</form>
    </div>
</div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 100%; margin-left: 10px">
            <div class="card-body">
                <h3 class="card-title text-center">Cost Details</h3>
                <table class="table table-borderless">
                    <tbody>
                    <tr>

                        <td>Total Amount</td>
                        <td th:text="'Rs. ' + ${totalAmount}"></td>

                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td th:text="'- Rs. ' + ${totalAmount - netAmount}"></td>
                    </tr>
                    <hr>
                    <tr>
                        <td>Net Amount</td>
                        <td th:text="'Rs. ' + ${netAmount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-8">
            <div class="card" style="width: 100%; margin-left: 10px">
                <div class="card-body">
                    <h3 class="card-title text-center">Payment Mode</h3>

                    <form action="" th:action="@{'/user/payment-process'}" method="post" th:object="${order}">
                        <div class="form-row align-items-center">
<!--                            <input type="hidden" class="form-control" name="totalcost" th:value="${order}" required readonly>-->
                            <div class="col-auto my-1">
                                <label class="mr-sm-2 sr-only">Payment Mode</label>
                                <select class="custom-select mr-sm-2" th:field="${order.mode}">
                                    <option value="Cash" selected>Cash</option>
                                    <option value="Net Banking">Net Banking</option>
                                    <option value="Gpay">Gpay</option>
                                    <option value="Paytm">Paytm</option>
                                </select>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>