<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="base::navbar(${currUser})">
</div>

<div class="card" style="width: 50rem;margin: 100px auto;">
    <div class="card-body">

        <h5 class="card-title text-center">Edit Profile</h5>

        <div th:if="${session.message}" th:classappend="${session.message.type}" role="alert">
            <p class = "text-center" th:text="${session.message.content}"></p>
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>

        <form class="needs-validation" novalidate action="" th:action="@{/user/process_edit_profile}" method="post" th:object="${currUser}">

            <div class="form-group">
                <label>Email address</label>
                <input name="email" type="email" class="form-control" th:value="${currUser.email}" required>
                <div class="invalid-feedback">
                    Please enter a valid email id
                </div>


            </div>
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" th:value="${currUser.name}" required>
                <div class="invalid-feedback">
                    Please enter a valid name (not empty)
                </div>


            </div>
            <div class="form-group">
                <label>Contact Number</label>
                <input name="contactNo" type="text" class="form-control" pattern="[0-9]{10}" th:value="${currUser.contactNo}" required>
                <div class="invalid-feedback">
                    Please enter a valid phone number
                </div>

            </div>
            <div class="form-group">
                <label>House Number</label>
                <input name="houseno" type="text" class="form-control" th:value="${currUser.houseno}" required>
                <div class="invalid-feedback">
                    Please enter a house number/name
                </div>

            </div>


            <div class="form-group">
                <label>Address</label>
                <textarea name="address" class="form-control" rows="4" th:text="${currUser.address}" required></textarea>
                <div class="invalid-feedback">
                    Please enter a valid address
                </div>

            </div>
            <div class="form-group">
                <label>City</label>
                <input name="city" type="text" class="form-control" th:value="${currUser.city}" required>
                <div class="invalid-feedback">
                    Please enter city of residence
                </div>

            </div>
            <div class="form-group">
                <label>Pincode</label>
                <input name="pincode" type="text" pattern="[0-9]{6}" class="form-control" th:value="${currUser.pincode}" required>
                <div class="invalid-feedback">
                    Please enter a valid pincode
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br>


    </div>
</div>

<div th:replace="base::footer">
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>

