<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
<section>


    <div class="card" style="width: 50rem;margin: auto;">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>



                <div class="alert alert-danger" th:if="${param.error}">
                    Invalid username or password
                </div>
                <div class="alert alert-danger" th:if="${param.logout}">
                    Logged out
                </div>
                <form th:action="@{/dologin}" method="post">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="remember-me">
                        <label class="form-check-label">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


                <br>
            <a href="#" class="card-link">Forgot password?</a>
            <a th:href="@{/signup}" class="card-link">Register here</a>
        </div>
    </div>
</section>

</body>
</html>